html, body {
	margin: 0;
}
#background-image {
	position: relative;
	width: 780px;
	height: 725px;
	margin: 0 auto;
	background-image: url("./applewatch.png");
	background-size: contain;
	background-repeat: no-repeat;
}
#blackback {
	background-color: black;
}
#watch {
	
}

.display {
	position: absolute;
	left: 204px;
	top: 127px;
	width: 375px;
	height: 470px;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}